.product-card {
  width: 200px;
}
.product-card:hover {
  cursor: pointer;
}

.product-card-image {
  position: relative;
  min-height: 216px;
  
}

.product-card-image img {
  width: 200px;
  height: auto;
}
/* .product-card:hover .product-card-image img {
  translate: -4px -4px;
} */
