.product-card {
  width: 200px;
}
.product-card:hover {
  cursor: pointer;
}

.product-card-image {
  position: relative;
  min-height: 216px;
}

.product-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-button {
  margin-top: 4px;
}
.product-card-image img {
  width: 200px;
  height: auto;
}
/* .product-card:hover .product-card-image img {
  translate: -4px -4px;
} */
