.page-content {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-content {
    margin-top: 104px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-content {
    margin-top: 120px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .page-content {
    margin-top: 124px;
  }
}
@media (min-width: 1400px) {
  .page-content {
    margin-top: 144px;
  }
}
