.my-nav-btn {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .my-nav-btn {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .my-nav-btn {
    font-size: 14px;
  }
}
